/*cs1-img for cs1 page start*/

.slider_area_cs1 .single_slider{
  height: 561px;
  margin-bottom: 100px;
}

/* line 10, C:/Users/SPN Graphics/Desktop/CL September/Edu mark/207 Education/HTML/scss/_slider.scss */
.slider_area_cs1 .single_slider .illastrator_cs1_png {
    float: right;
    
  }
  
  @media (min-width: 1200px) and (max-width: 1500px) {
    /* line 10, C:/Users/SPN Graphics/Desktop/CL September/Edu mark/207 Education/HTML/scss/_slider.scss */
    .slider_area_cs1 .single_slider .illastrator_cs1_png {
      right: 50px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    /* line 10, C:/Users/SPN Graphics/Desktop/CL September/Edu mark/207 Education/HTML/scss/_slider.scss */
    .slider_area_cs1 .single_slider .illastrator_cs1_png {
      right: 0;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 10, C:/Users/SPN Graphics/Desktop/CL September/Edu mark/207 Education/HTML/scss/_slider.scss */
    .slider_area_cs1 .single_slider .illastrator_cs1_png {
      right: 0;
    }
  }
  
  @media (max-width: 767px) {
    /* line 10, C:/Users/SPN Graphics/Desktop/CL September/Edu mark/207 Education/HTML/scss/_slider.scss */
    .slider_area_cs1 .single_slider .illastrator_cs1_png {
      right: 0;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    /* line 10, C:/Users/SPN Graphics/Desktop/CL September/Edu mark/207 Education/HTML/scss/_slider.scss */
    .illastrator_cs1_png {
      visibility: collapse; 
    }
  }

  
  @media (max-width: 767px) {
    /* line 10, C:/Users/SPN Graphics/Desktop/CL September/Edu mark/207 Education/HTML/scss/_slider.scss */
    .illastrator_cs1_png {
      visibility: collapse; 
    }
  }
  
  /* line 25, C:/Users/SPN Graphics/Desktop/CL September/Edu mark/207 Education/HTML/scss/_slider.scss */
  .slider_area_cs1 .single_slider .illastrator_cs1_png img {
    width: 445px;

  
  }
 .illastrator_cs1_png {
  position: absolute;
   left: -40px!important;
   top: -100px!important;
 }

 .slider_info_cs1 {
   padding-left: 50px;
 }


  /*cs1-img for cs1 page end*/

  /*play button cs details */




 .centered {
    position: absolute;
    top: 200px;
    left: 100px;
    background-color: #EB5757;
    color: white;
    
  }

  .wrap{
    background: #ddd;
    height: 300px;
    position: relative;
}
.circle{
    background: red;
    border-radius: 50px;
    height: 50px;
    position: absolute;
    left: 230px;
    top: 50%;
    width: 50px;
    margin: -25px 0 0 -25px;
}
.circle_inner{
    position: relative;
    height: 100%;
}
.circle_inner:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -7px;
}